Repository nousra0/jagaad-frontend-test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: update stylelint config for compatibility with v16
  .stylelintrc.json
  env.d.ts
  src/components/Cart.vue
  src/components/Header.vue
  src/components/HomePage.vue
  src/components/ProductCard.vue
  src/components/Wishlist.vue
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

chore(husky): update commit-msg hook to use yarn for commitlint
  .husky/commit-msg
Due: none

feat: add GETTING_STARTED.md and update Vue components
  GETTING_STARTED.md
  src/components/Cart.vue
  src/components/Header.vue
  src/components/HomePage.vue
  src/components/ProductCard.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve SSR module resolution error by removing Vue from noExternal array
  README.md
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: update server-renderer import and improve type safety in entry-server.ts
  src/entry-server.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript declaration issues in entry-server
  src/entry-server.ts
Due: eslint --fix, prettier --write

fix: add vercel.json for SPA routing support on Vercel
  vercel.json
Due: prettier --write

fix: separate client and server build outputs to prevent index.html from being overwritten
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: vercel file
  vercel.json
Due: prettier --write

fix: changes made in vercel file
  vercel.json
Due: prettier --write

fix(vercel): export handler for Vercel SSR compatibility
  server/index.js
  vercel.json
Due: eslint --fix, prettier --write

fix: made in entry-server
  src/entry-server.ts
Due: eslint --fix, prettier --write

fix: vercel version
  vercel.json
Due: prettier --write

fix: fixes made for deployment
  api/index.js
  vercel.json
Due: eslint --fix, prettier --write

fix: fixes made for deployment
  vercel.json
Due: prettier --write

fix: deployment fixes
  api/index.js
  index.html
  package.json
  src/entry-client.ts
  src/entry-server.ts
  vercel.json
  vite.config.ts
Due: eslint --fix, prettier --write

fix: fixes made in files for deployment
  api/index.js
Due: eslint --fix, prettier --write

fix: fixes made for deployment
  index.html
  vercel.json
Due: prettier --write

fix: fixes made for deployment
  api/index.js
Due: eslint --fix, prettier --write

fix: fixes made for deployment
  .gitignore
  .lintstagedrc.json
  .stylelintignore
  api/index.js
  dist/client/.vite/ssr-manifest.json
  dist/client/assets/app-CsC6Rcs5.css
  dist/client/assets/app-DAYVJVv5.js
  dist/client/index.html
  dist/server/.vite/ssr-manifest.json
  dist/server/entry-server.js
  vercel.json
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove SSR and convert to SPA architecture
  CHANGELOG.md
  Dockerfile
  Dockerfile.dev
  GETTING_STARTED.md
  README.md
  api/index.js
  dist/assets/app-CsC6Rcs5.css
  dist/assets/app-DxafW9r-.js
  dist/client/.vite/ssr-manifest.json
  dist/client/index.html
  dist/index.html
  dist/server/.vite/ssr-manifest.json
  dist/server/entry-server.js
  package.json
  server/dev-server.js
  server/index.js
  src/entry-client.ts
  src/entry-server.ts
  src/main.ts
  vercel.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

fix: force light theme regardless of system preference
  index.html
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: ((any of: *.{js,ts,vue}) or (any of: *.{css,scss,vue})) or (any of: *.{json,md,html})
  stylelint --fix: any of: *.{css,scss,vue}
